@import 'normalize';
@import 'formalize';
@import 'variables';

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

header {
  width: 100%;
  height: 60px;
  padding: 16px 24px;
  background-color: $header-bg;
  color: $header-color;
  display: flex;
  align-items: center;
  font-family: $font;
  font-size: 14px;
  .logo {
    margin-left: 0px;
    svg {
      width: 32px;
      height: 32px;
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 16px;
    align-items: center;
    .search {
      background-color: #0d1117;
      border-radius: 6px;
      position: relative;
      border: 0.1px solid #525355;
      overflow: hidden;
      padding: 6px;
      color: #fafafa;
      min-width: 170px;
      max-width: 500px;
      ::placeholder {
        color: #c9d1d9;
      }
      input {
        padding: 0 12px;
        background-color: #0d1117;
        border: none;
        outline: none;
        color: #c9d1d9;
      }
      P {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 20px;
        height: 20px;
        border: 0.1px solid #525355;
        padding: 3px 3px;
        text-align: center;
        border-radius: 3px;
        font-size: 10px;
      }
    }
    .links {
      a {
        color: $header-color;
        font-weight: 300;
        margin-right: 16px;
        line-height: 16.1px;
      }
    }
    .right-links {
    }
  }
}
